{% extends 'base.html'%}

{% block content %}
    
    {% include 'navbar.html' %}

    <div class="container">
        {% if not finished %}
        <div class="question ml-sm-5 pl-sm-5 pt-2">
            <div class="py-2 h5"><b>{{question.prompt}}</b></div>
            <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                <form action="" method="POST">
                    {% for answer in question_answers %}
                    <label class="options">{{answer.text}}
                        <input type="radio" name="radio">
                        <span class="checkmark"></span>
                    </label>
                {% endfor %}
                </form>
            </div>
        </div>
        {% else %}
            <h3>Finished!</h3>
        {% endif %}
    </div>

{% endblock %}